<table>
  <thead>
  <tr>
    <th>Gem Name</th>
    <th>Direct Dependents</th>
    <th>Indirect Dependents</th>
  </tr>
  </thead>
  <tbody>
  <% 10.times do %>
    <tr>
      <td style="height: 36px;"></td>
      <td style="height: 36px;"></td>
      <td style="height: 36px;"></td>
    </tr>
  <% end %>
  </tbody>
</table>