<nav class="top-bar" role="navigation">
  <ul class="title-area">
    <li class="name"><h1><%= link_to 'Gempact', root_path %></h1></li>
  </ul>
</nav>

<div class="gems-home panel">
  <center>
    <h1>Top gems</h1>
    <br/>

    <div class="score-table">
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Score</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </center>
</div>

