<h1>Listing ruby_gems</h1>

<table>
  <thead>
    <tr>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @ruby_gems.each do |ruby_gem| %>
      <tr>
        <td><%= ruby_gem.name %></td>
        <td><%= link_to 'View', ruby_gem_path(ruby_gem.name) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
