.gem-details {
  margin: 0;
  border: none;
  min-height: 600px;

  .accordion-navigation > a {
    background-color: #f2f2f2;
  }

  #gem-dependencies, #gem-dependents, #gem-dependents-transitive {
    background-color: #f2f2f2;

    table {

      thead {
        display: none;
      }
    }
  }

  .gem-title {
    margin-right: 0.5em;
  }

  .score-description {
    font-size: 22px;

    .score {
      font-size: 36px;
    }
  }
}

#footer {
  height: 50px;
  line-height: 20px;
  color: #aaa;
  text-align: center;
  width: 100%;
  padding-top: 1em;
  margin-bottom: 2em;
}
